<div class="alert warning">
  <div class="error-wrapper left">
    <img src="/icons/triangle-alert.svg" alt="" /> <%= errorMessage %>
  </div>
  <div>
    <span class="close-btn">
      <a href="<%= redirectUrl %>">&times;</a>
    </span>
  </div>
</div>
