<link rel="stylesheet" href="/styles.css">
<div class="error-container">
  <div class="alert warning">
    <div>
      <span class="closebtn">
        <a href="<%= redirectUrl %>">&times;</a>
      </span>
    </div>
    <div><strong>Warning!</strong> <%= errorMessage %></div>
  </div>
</div>
