<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Error Adding Manga</title>
  </head>
  <body>
    <div class="error-container">
        <div class="alert warning">
          <div><span class="closebtn"><a href="/add-manga">&times;</a></span></div>
          <div><strong>Warning!</strong> Manga Already Exist.</div>
        </div>
    </div>
  </body>
</html>
