<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Add Genre | Manga Zen</title>
  </head>
  <body>
    <form action="/add-genre" method="post">
      <div class="form-group">
        <label for="genre_name">Genre Name</label>
        <input type="text" name="genre_name" id="genre_name" />
      </div>
      <button type="submit" class="btn btn-primary">Add Genre</button>
      <a href="/">Cancel</a>
    </form>
  </body>
</html>
