<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css">
    <title><%= genres.genre_name %> | Manga Zen</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo"></div>
        <nav>
          <ul>
            <li>
              <a href="/">Home </a>
              <a href="/manga">Manga</a>
              <a href="/genres">Genre</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <h1> <%= genres.genre_name %></h1>
    <ul>
      <div class="manga-list"> <% const manga = genres.manga_name %> <%  const mangaArr=  manga.split(',') %>
        <% mangaArr.forEach(mg => { %>
            <div class="manga-item">
              <li><%= mg %></li>
              <a href="manga/manga-id/<%= manga.id %>">More Information</a>
            </div>
       <% }); %>
      </div>
    </ul>

  </body>
</html>
