<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="icon" type="image/svg+xml" href="/icons/yin-yang-leaf-symbol-svgrepo-com.png">
    <title>Genres | Manga Zen</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo"></div>
        <%- include('navbar', {links:links}) %>
      </div>
    </header>
    <main class="genres">
      <div class="genre-list">
        <% genres.forEach(genre => { %>
        <div class="genres-item">
          <a class="effect-shine" href="genres/<%=genre.genre_id%>"><%=genre.genre_name%></a>
        </div>
        <%}) %>
      </div>
    </main>
  </body>
</html>
