<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manga Zen - Genre</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <h1>Manga Zen</h1>
        </div>
        <nav>
          <ul>
            <li>
              <a href="/"> Home </a>
              <a href="/manga">Manga</a>
              <a href="/genres">Genres</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <h1>Manga Genres</h1>
    <ul>
      <div class="genre-list">
        <% genres.forEach(genre => { %>
        <div class="genres-item">
          <li><%=genres.genre_name%></li>
        </div>
        <%}) %>
      </div>
    </ul>
  </body>
</html>
