<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Genre | Manga Zen</title>
  </head>
  <body>
    <h1>Manga Genres</h1>
    <header>
      <div class="container">
        <div class="logo"></div>
        <%- include('navbar', {links:links}) %>
      </div>
    </header>
    <ul>
      <div class="genre-list">
        <% genres.forEach(genre => { %>
        <div class="genres-item">
          <li>
            <a href="genres/<%=genre.genre_id%>"><%=genre.genre_name%></a>
          </li>
        </div>
        <%}) %>
      </div>
    </ul>
  </body>
</html>
