<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Manga Zen</title>
  </head>
  <body>
    <header>
      <div class="navbar"><%- include('navbar', {links:links}) %></div>
    </header>
    <main class="home">
      <section class="left">
        <h1 class="h1 logo">Manga Zen</h1>
        <p class="para sub-text">Discover your favorite manga.</p>
      </section>

      <section class="right">
        <div class="wrapper linear">
          <div class="img-wrapper a">
            <img src="/berserk.jpg" alt="berserk panel" />
          </div>
          <div class="img-wrapper b">
            <img src="/vagabond.jpg" alt="vagabond panel" />
          </div>
          <div class="img-wrapper c">
            <img src="/one-piece-luffy.jpg" alt="one piece luffy" />
          </div>
          <div class="img-wrapper d">
            <img src="/catpuccin_samurai.png" alt="cool samurai" />
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
