<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Manga Zen</title>
  </head>
  <body>
    <header>
      <div class="navbar"><%- include('navbar', {links:links}) %></div>
    </header>
    <main>
      <section class="left">
        <h1>Manga Zen</h1>
        <p class="text-italic">Discover your favorite manga.</p>
      </section>

      <section class="right">
        <div class="wrapper">
          <div class="img-wrapper a"><img src="/berserk.jpg" alt="berserk panel"></div>
          <div class="img-wrapper b">
            <img src="/vagabond.jpg" alt="vagabond panel" />
          </div>
          <div class="img-wrapper c">C</div>
          <div class="img-wrapper d">D</div>
        </div>
      </section>
    </main>
  </body>
</html>
