<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manga Zen</title>
  </head>
  <body>
    <h1>Manga Zen</h1>
    <% if (manga_books.length === 0) { %>
    <p>No manga found.</p>
    <%} else { %>
    <div class="manga-list">
      <% manga_books.forEach((manga_book)=> { %>
      <div class="manga-item">
        <h2><%= manga_book.name %></h2>
        <p>Year published: <%= manga_book.published_year %></p>
        <p><strong>Author: <%= manga_book.authors || "Unknown" %></strong></p>
        <p>Genre: <%= manga_book.genres || "Not categorized" %> </p>
      </div>
      <% }); %> 
      <% } %>
    </div>
  </body>
</html>
