<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Manga Collection</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo"></div>
        <nav>
          <ul>
            <li>
              <a href="/">Home </a>
              <a href="/manga">Manga</a>
              <a href="/genre"></a>

            </li>
          </ul>
        </nav>
      </div>
    </header>
    <h1>Manga Collection</h1>
    <ul>
      <div class="manga-list">
        <% mangaList.forEach(manga => { %>
        <div class="manga-item">
          <li><%= manga.name %></li>
          <li><%= manga.published_year %></li>
          <a href="/manga/manga-id/<%= manga.id %>">More Information</a>
        </div>
        <% }); %>
      </div>
    </ul>
  </body>
</html>
