*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  min-height: 100vh;
  width: 100%;
}

h2 {
  text-align: center;
  margin: 20px;
}
h1 {
  margin-top: 20px;
  text-align: center;
}

.manga-list,
.genre-list,
.manga-list-filtered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 12px;
  
}

.genre-list,
.manga-list-filtered {
  flex-direction: column;
}

.genre-list{
  margin: 50px 0px 0px 150px;
}

.manga-item {
  /* width: 300px; */
  border: 2px solid gray;
}

ul {
  list-style-type: none;
  margin-right: 44px;

  display: flex;
  gap: 20px;
}

.nav-margin {
  margin-top: 48px;
}

a {
  color:black;
  text-decoration: none;
}

img {
  width: 270px;
  height: 400px;
  object-fit: fill;
}